.App {
  padding: 3rem 10rem;
  /* background-color: red; */
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5em;
}

form label {
  display: block;
  margin-block: 2rem;
}

form label input {
  padding: 0.5em 2em;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
  font-size: 1rem;
}

.todo label input {
  display: inline-block;
  margin-right: 1em;
}

.todo label input:checked ~ span {
  text-decoration: line-through;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  padding: 0.5em 0.75em;
}

button {
  padding: 1em 2em;
  border: none;
  border-radius: 1em;
  outline: none;
  background-color: skyblue;
  cursor: pointer;
}
